<div class="maiale-sheet">
  <header class="maiale-sheet__header">
    <div class="maiale-sheet__portrait" data-action="editPortrait" title="Configure Token">
      <img src="{{#if document.img}}{{document.img}}{{else}}{{#if document.prototypeToken}}{{document.prototypeToken.texture.src}}{{else}}icons/svg/mystery-man.svg{{/if}}{{/if}}" alt="portrait" />
    </div>
    <div class="maiale-sheet__meta">
      <label for="actor-name">Name</label>
      <input type="text" id="actor-name" name="name" value="{{document.name}}" />
      <button type="submit" class="maiale-sheet__save">Salva</button>
    </div>
  </header>
  <section class="maiale-sheet__body">
    <div class="maiale-sheet__section">
      <h2>Attributi del personaggio</h2>
      <div class="maiale-sheet__field">
        <label for="ability">Expertise</label>
        <input type="text" name="system.ability" id="ability" value="{{system.ability}}" />
      </div>
      <div class="maiale-sheet__field">
        <label for="flaw">Flaw</label>
        <input type="text" name="system.flaw" id="flaw" value="{{system.flaw}}" />
      </div>
      <div class="maiale-sheet__field">
        <label for="cutaway">Cutaway failures</label>
        <input type="number" min="0" data-dtype="Number" name="system.cutaway" id="cutaway" value="{{system.cutaway}}" />
      </div>
    </div>

    <div class="maiale-sheet__section">
      <h2>Rolls</h2>
      <p>Use the buttons below to send separate chat results for action and gambit.</p>

      <div class="maiale-sheet__controls">
        <button type="button" data-action="rollAction">Roll Action (d20)</button>
      </div>

      <div class="maiale-sheet__controls">
        <label for="gambit">Gambit die</label>
        <select name="system.gambit" id="gambit">
          {{#each gambitOptions as |option|}}
            <option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>{{option.label}}</option>
          {{/each}}
        </select>
        <button type="button" data-action="rollGambit">Roll Gambit</button>
      </div>
    </div>
  </section>
</div>
